<!-- 顯示單個留言、按鈕加載回覆表單、顯示留言所有評論 -->
<div class="comment-item" id="comment-{{ comment.slug }}">
    <p>
        <strong>{{ comment.account.username }}</strong>: {{ comment.content }}
    </p>
    <small style="color: gray;">{{ comment.created_at|date:"Y-m-d H:i" }}</small>
    
    
    <button hx-get="{% url 'comments:reply_form' project.slug  comment.slug %}"
            hx-target="#reply-form-container-{{ comment.slug }}"
            hx-swap="outerHTML">
        回覆留言
    </button>


    {% if user == comment.account %}
    <form hx-post="{% url 'comments:delete' project.slug comment.slug %}"
          hx-target="#comment-{{ comment.slug }}"
          hx-swap="outerHTML"
          hx-confirm="確定要刪除這條留言嗎"
          style="display: inline;">
        {% csrf_token %}
        <button type="submit">刪除</button>
    </form>
    {% endif %} 

    <div id="reply-form-container-{{ comment.slug }}"></div>
    
    <div id="replies-{{ comment.slug }}" class="replies"  style=" margin-left: 10px; margin-top: 5px;">
        {% for reply in comment.replies.all %}
        {% include "comments/reply_item.html" with comment=reply project=project %}
        {% endfor %}
    </div>
</div>