{% extends "shared/layout.html"%} {% block "content" %}
<h1>留言區</h1>
<p>{{comment.content}}</p>

  <!-- Content Section -->
  <div class="py-16">
    <div class="container mx-auto px-4">
      <div class="max-w-2xl mx-auto">
        <!-- 返回按鈕 -->
        <div class="mb-8">
          <a
            href="{% url 'projects:comment_index' project.slug %}"
            class="btn"
            style="background-color: #85cacc20; color: #85cacc"
          >
            <i class="fas fa-arrow-left mr-2"></i>
            返回留言列表
          </a>
        </div>

<a href="{% url "comments:delete" comment.slug %}"><button>刪除</button></a> 
<a href="{% url "projects:comment_index" project.slug %}">回主頁</a>

<div class="comment">
        <h2>新增回覆：</h2>
        <form method="post" 
              hx-post="{% url 'comments:show' comment.slug%}" 
              hx-target="#replies" 
              hx-swap="beforeend"
              hx-on::after-request="this.reset()">
            {% csrf_token %}
            <textarea name="content" placeholder="輸入回覆..." rows="3" cols="50" required></textarea><br>
            <button type="submit">提交回覆</button>
        </form>
        <br>
        <br>
        <h2>回覆列表</h2>
        <div id="replies">
            {% for reply in replies %}
                {% include 'comments/reply.html' with reply=reply %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
