{% extends "shared/layout.html" %} {% block "content" %}
<h1>個人資料設定</h1>
<form method="POST" action="{% url 'users:index' %}">
  {% csrf_token %} name:<br /><input type="text" name="name" /><br />
  email:<br /><input type="email" name="email" /><br />
  phone:<br /><input type="tel" name="phone" /><br />
  birthday:<br /><input type="date" name="birthday" /><br />
  location:<br /><input type="text" name="location" /><br />
  website:<br /><input type="url" name="website" /><br />
  bio:<br /><textarea name="bio"></textarea><br />
  <!-- image:<br /><input type="file" name="image" /><br /> -->
  <button>新增</button>
</form>

{% endblock %}
