{% extends "shared/layout.html"%} {% block "content" %}
<h1>Projects</h1>
<p>{{project.title}}</p>
<p>{{project.subtitle}}</p>
<p>{{project.goal_amount}}</p>
<p>{{project.start_at}}</p>
<p>{{project.end_at}}</p>
<p>{{project.story}}</p>
<p>{{project.location}}</p>



<a href="{% url "projects:edit" project.id %}">編輯</a>
<a href="{% url "projects:delete" project.id %}">刪除</a>
<a href="{% url "accounts:projects" account.id %}">回主頁</a>
<a href="{% url "projects:comment_index" project.id%}">comment</a>
<form method="POST" action="{% url "projects:collect" project.id %}">
    {% csrf_token %}
    <button>
      {% if collected %}
        取消收藏
      {% else %}
        收藏
      {% endif %}
    </button>
</form>
{% endblock %}
