{% if messages %}
<div
  x-data="{ show: true }"
  x-show="show"
  x-init="setTimeout(() => show = false, 1500)"
  x-transition
  class="fixed inset-0 flex items-start justify-center pt-16 z-50"
  style="background-color: rgba(0, 0, 0, 0.1)"
>
  <ul class="space-y-4">
    {% for message in messages %}
    <li
      class="relative w-auto max-w-sm p-4 rounded-lg shadow-lg flex items-center justify-between"
      style="background-color: #85cacc"
    >
      <div class="text-center flex-1 text-white">{{ message }}</div>
      <button
        @click="show = false"
        class="ml-4 text-white hover:text-gray-200 text-lg"
        aria-label="Close"
      >
        &times;
      </button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
