<div class="navbar bg-[#85CACC] text-white flex items-center justify-between px-4">
  <div class="w-1/4 flex items-center">
    <a href="{% url 'homepages:homepages' %}">
      <img
        src="/static/media/CHICHI_LOGO__1.png"
        alt="Bird Logo"
        class="w-[85px] h-[85px] rounded-full"
      />
    </a>
  </div>
  <div class="w-2/4 flex justify-center items-center">
    <form
      action="#"
      method="GET"
      class="flex items-center bg-white rounded-full shadow-md relative w-[500px]"
    >
      <input
        type="text"
        name="search"
        placeholder="請輸入搜尋內容..."
        class="bg-transparent text-gray-600 placeholder-gray-400 focus:outline-none flex-grow px-4 py-2 rounded-full"
      />
      <button
        type="submit"
        class="bg-[#619B9B] text-white rounded-full w-12 h-12 flex items-center justify-center shadow-md hover:shadow-lg"
      >
        <i class="fa-solid fa-magnifying-glass text-lg"></i>
      </button>
    </form>
  </div>

  <div class="w-1/4 flex justify-end">
    <ul class="menu menu-horizontal px-1 flex items-center gap-4">
      {% if user.is_authenticated %}
      <li class="flex items-center">
        <a class="text-white text-lg font-medium">{{ user.username }}</a>
      </li>
      <li>
        <a class="btn inline-flex items-center justify-center whitespace-nowrap h-12" style="background-color: #85cacc; color: white" href="{% url 'accounts:index' %}">
          <i class="fas fa-user mr-2"></i>
          <span>個人頁面</span>
        </a>
      </li>
      <li>
        <a
          class="btn inline-flex items-center justify-center whitespace-nowrap h-12"
          style="background-color: #85cacc; color: white"
          hx-post="{% url 'accounts:logout' %}"
          hx-target="body"
          hx-swap="outerHTML"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-on="click: this.disabled = true"
        >
          <i class="fas fa-sign-out-alt mr-2"></i>
          <span>登出</span>
        </a>
      </li>
      {% else %}
      <li>
        <a class="btn inline-flex items-center justify-center whitespace-nowrap h-12" style="background-color: #85cacc; color: white" href="{% url 'accounts:login' %}">
          <i class="fas fa-sign-in-alt mr-2"></i>
          <span>登入</span>
        </a>
      </li>
      <li>
        <a class="btn inline-flex items-center justify-center whitespace-nowrap h-12" style="background-color: #85cacc; color: white" href="{% url 'accounts:register' %}">
          <i class="fas fa-user-plus mr-2"></i>
          <span>註冊</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
