<div class="navbar bg-[#85CACC] text-white flex items-center justify-between">
  <div class="flex items-center space-x-4">
    <!-- 把圖片設為超連結 -->
    <a href="{% url 'homepages:homepages' %}">
      <img src="/static/media/CHICHI_LOGO__1.png" alt="Bird Logo" class="w-[85px] h-[85px] rounded-full" />
    </a>
  </div>
  <!-- 搜尋列區域 -->
  <!-- 搜尋列區域 -->
  <div class="flex justify-center items-center flex-1">
    <form action="#" method="GET" class="flex items-center bg-white rounded-full shadow-md relative" style="width: 500px">
      <!-- 搜尋框 -->
      <input type="text" name="search" placeholder="請輸入搜尋內容..." class="bg-transparent text-gray-600 placeholder-gray-400 focus:outline-none flex-grow px-4 py-2 rounded-full" />
      <!-- 搜尋按鈕 -->
      <button type="submit" class="bg-[#619B9B] text-white rounded-full w-12 h-12 flex items-center justify-center shadow-md hover:shadow-lg">
        <i class="fa-solid fa-magnifying-glass text-lg"></i>
      </button>
    </form>
  </div>

  <div class="flex items-center space-x-4">
    <ul class="menu menu-horizontal px-1 flex items-center">
      {% if user.is_authenticated %}
      <!-- 置中 username -->
      <li class="flex items-center">
        <a>{{ user.username }}</a>
      </li>
      <li>
        <a class="btn btn-outline text-white" href="{% url 'accounts:index' account.id %}">個人頁面</a>
      </li>
      <li>
        <a
          hx-post="{% url 'accounts:logout' %}"
          hx-target="body"
          hx-swap="outerHTML"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-on="click: this.disabled = true"
          class="btn btn-outline text-white"
        >
          登出
        </a>
      </li>
      {% else %} {% load socialaccount %}
      <li>
        <a class="btn btn-outline text-white" href="{% provider_login_url 'google' method='oauth2' %}">Google登入</a>
      </li>
      <li>
        <a class="btn btn-outline text-white" href="{% url 'accounts:login' %}">登入</a>
      </li>
      <li>
        <a class="btn btn-outline text-white" href="{% url 'accounts:register' %}">註冊</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
